<form>
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment</label>
            <input type="number" id="initial-investment" name="initial-investment" [(ngModel)]="name" required>
        </p>
        <p>
            <label for="annual-investment">Annual Investment</label>
            <input type="number" id="annual-investment" name="annual-investment" [(ngModel)]="name" required>
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">Expected Return</label>
            <input type="number" id="expected-return" name="expected-return" [(ngModel)]="name" required>
        </p>
        <p>
            <label for="duration">Duration</label>
            <input type="number" id="duration" name="duration" [(ngModel)]="name" required>
        </p>
    </div>
    <p>
        <button>Calculate</button>
    </p>
</form>
